@model RamaMed.Models.ViewModels.Cardio
@{
    Layout = "_CardioLayout";
    ViewData["Title"] = "Report";
}



@{
    CardioClinicalSymptom Clinical = Model.CardioClinicalSymptom;
    CardioComorbidity Comorbidites = Model.CardioComorbidity;
    CardioPersonal Habits = Model.CardioPersonal;
    CardioGeneralExamination GenExam = Model.CardioGeneralExamination;
    CardioCNS Cns = Model.CardioCNS;
    CardioRespSystem Resp = Model.CardioRespSystem;
    CardioAbdExam Abd = Model.CardioAbdExam;
    CardioCVS Cvs = Model.CardioCVS;
    CardioInvestigation Inv = Model.CardioInvestigation;
    CardioOther Other = Model.CardioOther;
}

<div class="text-right sticky-top">
    <button id="printbtn" class="btn-print-hide btn btn-outline-success btn-primary" onclick="window.print()">Print Report</button>
</div>

@{

    <div class="text-center text-uppercase" style="font-size:42px;">
        Health Report File
    </div>
    <section class="chapter" id="personal-details">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="text-uppercase" style="font-size:24px;">
                    <table id="personal-details-table" class="table table-borderless">
                        <tr>
                            <th>Name  </th>
                            <td>@Html.DisplayFor(m => m.UserData.Name)</td>
                        </tr>
                        <tr>
                            <th>UHID  </th>
                            <td>@Html.DisplayFor(m => m.UserData.UHID)</td>
                        </tr>
                        <tr>
                            <th>OPD  </th>
                            <td>@Html.DisplayFor(m => m.UserData.OPDNo)</td>
                        </tr>
                        <tr>
                            <th>Dept  </th>
                            <td>@Html.DisplayFor(m => m.UserData.Dept)</td>
                        </tr>
                        <tr>
                            <th>Clinic  </th>
                            <td>
                                @Html.DisplayFor(m => m.UserData.Clinic)
                            </td>
                        </tr>
                        <tr>
                            <th>Doctor  </th>
                            <td>@Html.DisplayFor(m => m.UserData.Doctor)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>


    if (Clinical != null)
    {
        <section id="clinical" class="chapter my-2 pb-0">
            <div class="card-header bg-warning text-white text-center">
                <h5>Clinical Symptoms</h5>
            </div>
            <div class="table-responsive p-3">
                <div class="row p-3">
                    <table class="data-table outline-warning table col-lg-6">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Duration</th>
                        </tr>
                        <tr>
                            <td>BREATHLESNESS</td>
                            <td>@Clinical.BREATHLESNESS_DURATION</td>
                        </tr>
                        <tr>
                            <td>NYHA CLASS</td>
                            <td>@Clinical.NYHA_CLASS_DURATION</td>
                        </tr>
                        <tr>
                            <td>PND</td>
                            <td>@Clinical.PND_DURATION</td>
                        </tr>
                        <tr>
                            <td>ORTHOPNOEA</td>
                            <td>@Clinical.ORTHOPNOEA_DURATION</td>
                        </tr>
                        <tr>
                            <td>PLATYPNOEA</td>
                            <td>@Clinical.PLATYPNOEA_DURATION</td>
                        </tr>
                        <tr>
                            <td>CHEST PAIN</td>
                            <td>@Clinical.CHEST_PAIN_DURATION</td>
                        </tr>
                        <tr>
                            <td>SYNCOPE</td>
                            <td>@Clinical.SYNCOPE_DURATION</td>
                        </tr>
                        <tr>
                            <td>COUGH</td>
                            <td>@Clinical.COUGH_DURATION</td>
                        </tr>
                        <tr>
                            <td>ABDOMINAL PAIN</td>
                            <td>@Clinical.ABDOMINAL_PAIN_DURATION</td>
                        </tr>
                    </table>
                    <table id="clinical-table2" class="data-table outline-warning table col-lg-6">
                        <tr class=" col-md-6">
                            <th></th>
                            <th>Duration</th>
                        </tr>
                        <tr class="col-md-6">
                            <td>PALPITATION</td>
                            <td>@Clinical.PALPITATION_DURATION</td>
                        </tr>
                        <tr class="col-md-6">
                            <td>PEDAL EDEMA</td>
                            <td>@Clinical.PEDAL_EDEMA_DURATION</td>
                        </tr>
                        <tr class="col-md-6">
                            <td>SPUTUM | HAE</td>
                            <td>@Clinical.SPUTUM_HAE_DURATION</td>
                        </tr>
                        <tr>
                            <td>ABDOMINAL DISTENSION</td>
                            <td>@Clinical.ABDOMINAL_DISTENSION_DURATION</td>
                        </tr>
                        <tr class="col-md-6">
                            <td>Dyspesia</td>
                            <td>@Clinical.DYSPESIA_DURATION</td>
                        </tr>
                        <tr>
                            <td>NOCTURIA</td>
                            <td>@Clinical.NOCTURIA_DURATION</td>
                        </tr>
                        <tr>
                            <td>NAUSEA / VOMITING</td>
                            <td>@Clinical.NAUSEA_VOMITING_DURATION</td>
                        </tr>
                        <tr>
                            <td>OLIGURIA</td>
                            <td>@Clinical.OLIGURIA_DURATION</td>
                        </tr>
                        <tr>
                            <td>HOARSENESS OF VOICE</td>
                            <td>@Clinical.HOARSENESS_OF_VOICE_DURATION</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    }

    if (Comorbidites != null)
    {
        <section id="comorbidities" class="chapter my-2 pb-0">
            <div class="card-header bg-info text-white text-center">
                <h5>Comorbidities</h5>
            </div>
            <div class="table-responsive">
                <div class="mw-100 p-3">
                    <table class="data-table outline-info my-0 table">
                        <tr>
                            <th></th>
                            <th>Duration</th>
                            <th>Medication</th>
                        </tr>
                        <tr>
                            <td>HYPERTENSION</td>
                            <td>@Comorbidites.HYPERTENSION_DURATION</td>
                            <td>@Comorbidites.HYPERTENSION_MEDICATION</td>
                        </tr>
                        <tr>
                            <td>CORONARY ARTERY DISEASE</td>
                            <td>@Comorbidites.CORONARY_ARTERY_DISEASE_DURATION</td>
                            <td>@Comorbidites.CORONARY_ARTERY_DISEASE_MEDICATION</td>
                        </tr>
                        <tr>
                            <td>COPD</td>
                            <td>@Comorbidites.COPD_DURATION</td>
                            <td>@Comorbidites.COPD_MEDICATION</td>
                        </tr>
                        <tr>
                            <td>ASTHMA</td>
                            <td>@Comorbidites.ASTHMA_DURATION</td>
                            <td>@Comorbidites.ASTHMA_MEDICATION</td>
                        </tr>
                        <tr>
                            <td>CKD</td>
                            <td>@Comorbidites.CKD_DURATION</td>
                            <td>@Comorbidites.CKD_MEDICATION</td>
                        </tr>
                        <tr>
                            <td>HEART FAILURE</td>
                            <td>@Comorbidites.HEART_FAILURE_DURATION</td>
                            <td>@Comorbidites.HEART_FAILURE_MEDICATION</td>
                        </tr>
                        <tr>
                            <td>HYPOTHYROIDISM</td>
                            <td>@Comorbidites.HYPOTHYROIDISM_DURATION</td>
                            <td>@Comorbidites.HYPOTHYROIDISM_MEDICATION</td>
                        </tr>
                    </table>
                    <div class="data-table outline-info px-3">
                        <div class="row p-3 border-bottom">
                            <div class="col-md-4">
                                PULMONARY TB
                            </div>
                            <div class="col-md-8">
                                @Comorbidites.PULMONARY_TB
                                <div class="row">
                                    <div class="col-md-6">
                                        DATE OF DIAGNOSIS:@Comorbidites.PULMONARY_TB_DATE_OF_DIAGNOSIS
                                    </div>
                                    <div class="col-md-6">
                                        ATT REGIMEN:@Comorbidites.PULMONARY_TB_ATT_REGIMEN
                                    </div>
                                    <div class="col-md-6">
                                        DATE OF STARTING:@Comorbidites.PULMONARY_TB_DATE_OF_STARTING
                                    </div>
                                    <div class="col-md-6">
                                        DATE OF ENDING:@Comorbidites.PULMONARY_TB_DATE_OF_ENDING
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-3 border-bottom">
                            <div class="col-md-4">
                                HIV
                            </div>
                            <div class="col-md-8">
                                @{
                                    if (Comorbidites.HIV != null)
                                    {
                                        @Comorbidites.HIV
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row p-3 border-bottom">
                            <div class="col-md-4">
                                HBsAG
                            </div>
                            <div class="col-md-8">
                                @{
                                    if (Comorbidites.HBSAG != null)
                                    {
                                        @Comorbidites.HBSAG
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row p-3 border-bottom">
                            <div class="col-md-4">
                                ANTI HCV
                            </div>
                            <div class="col-md-8">
                                @{
                                    if (Comorbidites.ANTI_HCV != null)
                                    {
                                        @Comorbidites.ANTI_HCV
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                }
                            </div>
                        </div>

                        <div class="row p-3 border-bottom">
                            <div class="col-md-4">
                                DIABETES MELLITUS
                            </div>
                            <div class="col-md-8">
                                @{
                                    if (Comorbidites.DIABETES_MELLITUS != null)
                                    {
                                        @Comorbidites.DIABETES_MELLITUS
                                    }
                                    else
                                    {
                                        <span>---</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    if (Habits != null)
    {
        <section id="personal-habit" class="chapter my-2">
            <div class="card-header bg-primary text-white text-center">
                <h5>Personal Habits</h5>
            </div>
            <div class="p-3">
                <div class="data-table outline-primary px-3">
                    <div class="row p-3 border-bottom">
                        <div class="col-md-4">Smoking</div>
                        <div class="col-md-8">
                            @{
                                if (Habits.SMOKING != null && Habits.SMOKING == "Yes")
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            Pack Years: @Habits.SMOKING_PACK_YEARS
                                        </div>
                                        <div class="col-md-6">
                                            Duration: @Habits.SMOKING_DURATION
                                        </div>
                                        <div class="col-md-6">
                                            Years: @Habits.SMOKING_YEARS
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>---</div>
                                }
                            }
                        </div>
                    </div>
                    <div class="row p-3 border-bottom">
                        <div class="col-md-4">Alcohol</div>
                        <div class="col-md-8">
                            @{
                                if (Habits.ALCOHOL_INTAKE != null && Habits.ALCOHOL_INTAKE == "Yes")
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            Quantity: @Habits.ALCOHOL_INTAKE_QUANTITY
                                        </div>
                                        <div class="col-md-6">
                                            Duration: @Habits.ALCOHOL_INTAKE_DURATION
                                        </div>
                                        <div class="col-md-6">
                                            Years: @Habits.ALCOHOL_INTAKE_YEARS
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>---</div>
                                }
                            }
                        </div>
                    </div>
                    <div class="row p-3 border-bottom">
                        <div class="col-md-4">Other Substances Use</div>
                        <div class="col-md-8">
                            @Habits.OTHER_SUBSTANCE_USE
                        </div>
                    </div>
                    <div class="row p-3 border-bottom">
                        <div class="col-md-4">Life Style</div>
                        <div class="col-md-8">
                            @Habits.LIFE_STYLE
                        </div>
                    </div>
                    <div class="row p-3 border-bottom">
                        <div class="col-md-4">Family History</div>
                        <div class="col-md-8">
                            @Habits.FAMILY_HISTORY
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    if (GenExam != null)
    {
        <section id="general-exams" class="chapter my-2">
            <div class="card-header bg-warning text-white text-center">
                <h5>General Examinations</h5>
            </div>
            <div class="p-3">
                <div class="data-table outline-warning px-3">
                    <div class="row p-3 border-bottom">
                        <div class="col-6">Built</div>
                        <div class="col-6">@GenExam.BUILT</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Neutrition</div>
                        <div class="col-6">@GenExam.NEUTRITION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-md-4">
                            Pulse
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    Rate: @GenExam.PULSE_RATE /min
                                </div>
                                <div class="col-sm-6">
                                    Radio Femoral Delay: @GenExam.PULSE_RADIO_FEROMAL_DELAY
                                </div>
                                <div class="col-sm-6">
                                    Rythm: @GenExam.PULSE_RYTHM
                                </div>
                                <div class="col-sm-6">
                                    Volume: @GenExam.PULSE_VOLUME
                                </div>
                                <div class="col-sm-6">
                                    Condition Of Arterial Wall: @GenExam.PULSE_CONDITION_OF_ARTERIAL_WALL
                                </div>
                                <div class="col-sm-6">
                                    Character: @GenExam.PULSE_CHARACTER
                                </div>
                                <div class="col-sm-6">
                                    Peripheral Pulses: @GenExam.PULSE_PERIPHERAL_PULSES
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Blood Pressure</div>
                        <div class="col-6">@GenExam.BLOOD_PRESSURE mmhg</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Temperature</div>
                        <div class="col-6">@GenExam.TEMPERATURE &#8457;</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Pallor</div>
                        <div class="col-6">@GenExam.PALLOR</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Ecterus</div>
                        <div class="col-6">@GenExam.ESTERUS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Cynosis</div>
                        <div class="col-6">@GenExam.CYNOSIS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Clubbing</div>
                        <div class="col-6">@GenExam.CLUBBING</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Pedal Edema</div>
                        <div class="col-6">@GenExam.PEDAL_EDEMA</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Lymph Node</div>
                        <div class="col-6">@GenExam.LYMPH_NODE</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">JVP</div>
                        <div class="col-6">@GenExam.JVP</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Neck Swelling</div>
                        <div class="col-6">@GenExam.NECK_SWELLING</div>
                    </div>
                </div>
            </div>
        </section>
    }

    if (Cns != null)
    {
        <section id="cns-exams" class="chapter my-2">
            <div class="card-header bg-info text-white text-center">
                SYSTEMATIC EXAMINATION(CNS)
            </div>
            <div class="p-3">

                <h6 class="card-header text-info text-center">Higher Functions</h6>
                <div class="data-table outline-info px-3">
                    <div class="row p-3 border-bottom">
                        <div class="col-6">Conscious</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_CONSCIOUS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-md-6">Unconscious- Glassgo coma scale</div>
                        <div class="col-md-6">
                            <span class="d-inline-block border mr-2" style="width:50px !important;"><b class="px-2 mr-1 h-100 bg-dark text-light">E</b>@Cns.HIGHER_FUNCTIONS_UNCONSCIOUS_E</span>
                            <span class="d-inline-block border mr-2" style="width:50px !important;"><b class="px-2 mr-1 h-100 bg-dark text-light">V</b>@Cns.HIGHER_FUNCTIONS_UNCONSCIOUS_V</span>
                            <span class="d-inline-block border mr-2" style="width:50px !important;"><b class="px-2 mr-1 bg-dark text-light">M</b>@Cns.HIGHER_FUNCTIONS_UNCONSCIOUS_M</span>
</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Orientation</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_ORIENTATION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Appearance</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_APPEARANCE</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Behavior</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_BEHAVIOUR</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Memory</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_MEMORY</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Speech</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_SPEECH</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Intelligence</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_INTELLIGENCE</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Hallucination</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_HALLUCINATION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Delusion</div>
                        <div class="col-6">@Cns.HIGHER_FUNCTIONS_DELUSION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Cranial Nerves</div>
                        <div class="col-6">@Cns.CRANIAL_NERVES</div>
                    </div>
                </div>

                <h6 class="card-header text-info text-center">Motor System</h6>
                <div class="data-table outline-info px-3">
                    <div class="row p-3 border-bottom">
                        <div class="col-6">Neutrition</div>
                        <div class="col-6">@Cns.MOTOR_SYSTEM_NEUTRITION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Tone</div>
                        <div class="col-6">@Cns.MOTOR_SYSTEM_TONE</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Power</div>
                        <div class="col-6">@Cns.MOTOR_SYSTEM_POWER</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Co-ordination</div>
                        <div class="col-6">@Cns.MOTOR_SYSTEM_CO_ORDINATION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Involutionary Movements</div>
                        <div class="col-6">@Cns.MOTOR_SYSTEM_INVOLUNTRY_MOVEMENTS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Reflexes</div>
                        <div class="col-6">@Cns.MOTOR_SYSTEM_REFLEXES</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Gait</div>
                        <div class="col-6">@Cns.MOTOR_SYSTEM_GAIT</div>
                    </div>
                </div>

                <h6 class="card-header text-info text-center">Sensory System</h6>
                <div class="data-table outline-info px-3">
                    <div class="row p-3 border-bottom">
                        <div class="col-6">Superficial Sensation</div>
                        <div class="col-6">@Cns.SENSORY_SYSTEM_SUPERFICIAL_SENSATION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Deep Sensation</div>
                        <div class="col-6">@Cns.SENSORY_SYSTEM_DEEP_SENSATIONS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Cortical Sensation</div>
                        <div class="col-6">@Cns.SENSORY_SYSTEM_CORTICAL_SENSATION</div>
                    </div>


                    <div class="row p-3 border-bottom">
                        <div class="col-6">Craniovertebral Examination</div>
                        <div class="col-6">@Cns.CRANIOVERTEBRAL_EXAMINATION</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Cerebellar Signs</div>
                        <div class="col-6">@Cns.CEREBELLAR_SIGNS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Automatic System</div>
                        <div class="col-6">@Cns.AUTONOMIC_SYSTEM</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Sign Of Meningial Irritation</div>
                        <div class="col-6">@Cns.SIGNS_OF_MENINGIAL_IRRITATION</div>
                    </div>


                </div>
            </div>
        </section>

    }

    if (Resp != null)
    {
        <section id="Resp-exams" class="chapter my-2">
            <div class="card-header bg-primary text-white text-center">
                <h5>SYSTEMATIC EXAMINATION(Respiratory System)</h5>
            </div>
            <div class="p-3">
                <div class="data-table outline-primary px-3">
                    <div class="row p-3 border-bottom">
                        <div class="col-6">Rate</div>
                        <div class="col-6">@Resp.RATE /min</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Rhythm</div>
                        <div class="col-6">@Resp.RHYTHM</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Movements</div>
                        <div class="col-6">@Resp.MOVEMENTS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Position Of Trachea</div>
                        <div class="col-6">@Resp.POSITION_OF_TRACHEA</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Breath Sound</div>
                        <div class="col-6">@Resp.BREATH_SOUND</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Crepts</div>
                        <div class="col-6">@Resp.CREPTS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Ronchi</div>
                        <div class="col-6">@Resp.RONCHI</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Wheezing</div>
                        <div class="col-6">@Resp.WHEEZING</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Pleural Rub</div>
                        <div class="col-6">@Resp.PLEURAL_RUB</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Pleural Fluid</div>
                        <div class="col-6">@Resp.PLEURAL_FLUID</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Percussion Note</div>
                        <div class="col-6">@Resp.PERCUSSION_NOTE</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Bronchial Breath Sounds</div>
                        <div class="col-6">@Resp.BRONCHIAL_BREATH_SOUNDS</div>
                    </div>

                </div>
            </div>
        </section>
    }

    if (Abd != null)
    {
        <section id="Abd-exams" class="chapter my-2">
            <div class="card-header bg-warning text-white text-center">
                <h5>SYSTEMATIC EXAMINATION(Abdomen Examination)</h5>
            </div>
            <div class="p-3">
                <div class="data-table outline-warning px-3">
                    <div class="row p-3 border-bottom">
                        <div class="col-6">Pain</div>
                        <div class="col-6">@Abd.PAIN /min</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Temperature</div>
                        <div class="col-6">@Abd.TEMPERATURE</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Rigidity</div>
                        <div class="col-6">@Abd.RIGIDITY</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Venous Dilatation</div>
                        <div class="col-6">@Abd.VENOUS_DILATATION </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Scar Marks</div>
                        <div class="col-6">@Abd.SCAR_MARKS </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Color Of Skin</div>
                        <div class="col-6">@Abd.COLOUR_OF_SKIN </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Position of Umbilicus</div>
                        <div class="col-6">@Abd.POSITION_OF_UMBILICUS </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Movement of Abdomen</div>
                        <div class="col-6">@Abd.MOVEMENT_OF_ABDOMEN</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Shape Of Abdomen</div>
                        <div class="col-6">@Abd.SHAPE_OF_ABDOMEN </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Shifting Dullness</div>
                        <div class="col-6">@Abd.SHIFTING_DULLNESS</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Fluid Thrill</div>
                        <div class="col-6">@Abd.FLUID_THRILL </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Signs Of Hernia</div>
                        <div class="col-6">@Abd.SIGNS_OF_HERNIA </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Testicular Swelling</div>
                        <div class="col-6">@Abd.TESTICULER_SWELLING </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Hemorrhoids</div>
                        <div class="col-6">@Abd.HEMORRHOIDS </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Fissure</div>
                        <div class="col-6">@Abd.FISSURE </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Prostate Condition</div>
                        <div class="col-6">@Abd.PROSTATE_CONDITION </div>
                    </div>

                </div>
            </div>
        </section>
    }

    if (Cvs != null)
    {
        <section id="CVS-exams" class="chapter my-2">
            <div class="card-header bg-info text-white text-center">
                <h5>SYSTEMATIC EXAMINATION(CVS)</h5>
            </div>
            <div class="p-3">
                <div class="data-table outline-info px-3">

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Heart Rate</div>
                        <div class="col-6">@Cvs.HEART_RATE /min</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Rhythm</div>
                        <div class="col-6">@Cvs.RHYTHM</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Shape Of Chest</div>
                        <div class="col-6">@Cvs.SHAPE_OF_CHEST</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Dilated Veins Over Chest</div>
                        <div class="col-6">@Cvs.DIALATED_VEINS_OVER_CHEST</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Scar Marks Over Chest</div>
                        <div class="col-6">@Cvs.SCAR_MARKS_OVER_CHEST</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Apex</div>
                        <div class="col-6">@Cvs.APEX</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Thrill</div>
                        <div class="col-6">@Cvs.THRILL</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Heart Sounds</div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">S1 & S2</div>
                                <div class="col-6">@Cvs.HEART_SOUNDS_S1_S2</div>

                                <div class="col-6">S3</div>
                                <div class="col-6">@Cvs.HEART_SOUNDS_S3</div>

                                <div class="col-6">S4</div>
                                <div class="col-6">@Cvs.HEART_SOUNDS_S4</div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Pericardial Rub</div>
                        <div class="col-6">@Cvs.PERICARDIAL_RUB</div>
                    </div>

                    <div class="row p-3 border-bottom">
                        <div class="col-6">Murmur</div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">Diastolic</div>
                                <div class="col-6">@Cvs.MURMUR_DIASTOLIC</div>

                                <div class="col-6">Systolic</div>
                                <div class="col-6">@Cvs.MURMUR_SYSTOLIC</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }

    if (Inv != null)
    {
        <section id="Investigations" class="chapter my-2">
            <div class="card-header bg-primary text-white text-center">
                <h5>Investigations</h5>
            </div>
            <div class="p-3">
                <div class="data-table outline-primary px-3">
                    @foreach (var prop in Inv.GetType().GetProperties())
                    {
                        if (@prop.GetValue(Inv) != null)
                        {
                            if (@prop.GetValue(Inv).ToString() == "Yes")
                            {
                                <div class="row p-3 border-bottom">
                                    @{
                                        String str = prop.Name;
                                        String[] strlist = str.Split("_", StringSplitOptions.RemoveEmptyEntries);
                                        var TestName = "";
                                        foreach (String s in strlist)
                                        {
                                            TestName = TestName + " " + s;
                                        }
                                        @TestName
                                    }
                                </div>

                            }
                        }
                    }
                </div>
            </div>
        </section>
    }

    if (Other != null)
    {
        <section id="others" class="chapter my-2">
            <div class="card-header bg-warning text-white text-center">
                <h5>Other Details</h5>
            </div>
            <div class="p-3">
                <div class="data-table outline-warning">
                    @if (Other.CLINICAL_DIAGNOSIS != null)
                    {
                        <div class="card">
                            <h6 class="card-header text-warning">Clinical Diagnosis</h6>
                            <div class="p-3">@Other.CLINICAL_DIAGNOSIS</div>
                        </div>
                    }

                    @if (Other.DIFFERENTIAL_DIAGNOSIS != null)
                    {
                        <div class="card">
                            <h6 class="card-header text-warning">Differential Diagnosis</h6>
                            <div class="p-3">@Other.DIFFERENTIAL_DIAGNOSIS</div>
                        </div>
                    }

                    @if (Other.FINAL_DIAGNOSIS != null)
                    {
                        <div class="card">
                            <h6 class="card-header text-warning">Final Diagnosis</h6>
                            <div class="p-3">@Other.FINAL_DIAGNOSIS</div>
                        </div>
                    }

                    @if (Other.FINAL_DIAGNOSIS != null)
                    {
                        <div class="card">
                            <h6 class="card-header text-warning">Final Diagnosis</h6>
                            <div class="p-3">@Other.FINAL_DIAGNOSIS</div>
                        </div>
                    }

                    @if (Other.TREATMENT != null)
                    {
                        <div class="card">
                            <h6 class="card-header text-warning">Treatment</h6>
                            <div class="p-3">@Other.TREATMENT</div>
                        </div>
                    }

                    @if (Other.FOLLOW_UP != null)
                    {
                        <div class="card">
                            <h6 class="card-header text-warning">Follow Up</h6>
                            <div class="p-3">@Other.FOLLOW_UP</div>
                        </div>
                    }

                    @if (Other.REFER_TO_OTHER != null)
                    {
                        <div class="card">
                            <h6 class="card-header text-warning">Refering To Other Speciality Department</h6>
                            <div class="p-3"><b>Department: </b>@Other.REFER_TO_OTHER</div>
                        </div>
                    }

                </div>
            </div>
        </section>
    }
}


<script type="text/javascript">

    window.onload = function () {
        var element = document.getElementById("PR");
        element.classList.add("activelink");
        document.getElementById("printbtn").click();
        document.getElementById("menu-btn").click();
    };

</script>
