@model RamaMed.Models.EndocrinoRespSystem
@{
    Layout = "_EndocrinoLayout";
    ViewData["Title"] = "Respiration";
    UserData userdata = ViewBag.userData;
}

<div class="card">
    <div class="card-header text-info text-uppercase">
        <div class="m-0 p-0 pt-1 float-left">
            <h4>Clinical Examination</h4>
            <h6>Systematic Examinations(Respiratory System)</h6>
        </div>

        <div class="m-0 p-0 float-right"><a class="btn btn-outline-warning" style="text-decoration:none;" asp-action="AbdExam">Skip</a></div>
    </div>
    <form method="post" class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w-100 form-group">
            <div class="border-bottom">
                <div class="row p-3">
                    <div class="col-sm-3 text-center">
                        <span class="font-weight-bold">Name : </span>@userdata.Name
                    </div>

                    <div class="col-sm-3">
                        <span class="font-weight-bold text-center">Doctor : </span>@userdata.Doctor
                    </div>

                    <div class="col-sm-3">
                        <span class="font-weight-bold text-center">UHID : </span>@userdata.UHID
                        <input asp-for="@Model.UHID" value="@userdata.UHID" hidden />
                        <span class="text-danger" asp-validation-for="UHID"></span>
                    </div>

                    <div class="col-sm-3">
                        <span class="font-weight-bold text-center">OPDNO : </span>@userdata.OPDNo
                        <input asp-for="@Model.OPDNO" value="@userdata.OPDNo" hidden />
                        <span class="text-danger" asp-validation-for="OPDNO"></span>
                    </div>
                </div>
            </div>
        </div>


        @{
            if (Model != null)
            {
                <input asp-for="@Model.ID" hidden />
                <input asp-for="@Model.CREATEDATE" hidden />
            }
            else
            {
                <div></div>
            }
        }


        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Rate</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control col-3 d-inline-block mb-3" asp-for="@Model.RATE" /><span class="pl-3 font-weight-bold">/min</span>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Rhythm</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.RHYTHM" value="Regular" />Regular
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.RHYTHM" value="Irregular" />Irregular
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Movements</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" asp-for="@Model.MOVEMENTS" type="radio" value="Symmetrical" />Symmetrical
                        </label>
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" asp-for="@Model.MOVEMENTS" type="radio" value="Asymmetrical" />Asymmetrical
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Position of trachea</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.POSITION_OF_TRACHEA" value="Central" />Central
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.POSITION_OF_TRACHEA" value="Left" />Left
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.POSITION_OF_TRACHEA" value="Right" />Right
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Breath sound</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.BREATH_SOUND" value="Normal" />Normal
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.BREATH_SOUND" value="Abnormal" />Abnormal
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Crepts</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.CREPTS" value="Not" />Not
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.CREPTS" value="Present" />Present
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Ronchi</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.RONCHI" value="Not" />Not
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.RONCHI" value="Present" />Present
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Wheezing</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.WHEEZING" value="Not" />Not
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.WHEEZING" value="Present" />Present
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">pleural rub</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PLEURAL_RUB" value="Not" />Not
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PLEURAL_RUB" value="Present" />Present
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">pleural fluid</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PLEURAL_FLUID" value="Not" />Not
                        </label>
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PLEURAL_FLUID" value="Present" />Present
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Bronichal Breath Sounds</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.BRONCHIAL_BREATH_SOUNDS" value="Not" />Not
                        </label>
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.BRONCHIAL_BREATH_SOUNDS" value="Present" />Present
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-2">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <label class="form-label text-capitalize">Percussion Note</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PERCUSSION_NOTE" value="Normal" />Normal
                        </label>
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PERCUSSION_NOTE" value="Dull" />Dull
                        </label>
                        <label class="col-6 form-label px-0 mb-3 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PERCUSSION_NOTE" value="Stony Dull" />Stony Dull
                        </label>
                        <label class="col-6 form-label px-0 col-3">
                            <input class="mb-2 mx-3" type="radio" asp-for="@Model.PERCUSSION_NOTE" value="Hyper-Resonant" />Hyper-Resonant
                        </label>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="card-footer bg-white border-0 mt-0 pt-0">
                <a class="ml-5 btn btn-outline-warning btn-danger text-white py-3" style="text-decoration:none" asp-action="CNS">Previous</a>
                <a class="ml-1 btn btn-outline-warning btn-danger text-white py-3" style="text-decoration:none" asp-action="AbdExam">Skip</a>
                <input class="mr-5 float-right btn btn-outline-warning btn-success text-light py-3" type="submit" asp-action="RespSysSave" value="Next" />
            </div>*@
        <div class="card-footer bg-white border-0 mr-3 py-0">
            <input class="float-right btn btn-outline-warning btn-success text-light py-3" type="submit" asp-action="RespSysSave" value="Next" />
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


<script>
    window.onload = function () {
        var dropdown = document.getElementById("CE");
        dropdown.classList.add("activelink");
        var element = document.getElementById("CE3");
        element.classList.add("activelink");
    };
</script>

